@each $color in $color-names {
    $i: index($color-names, $color);
    .#{$color}-text {
        color: nth($color-values, $i) !important;
    }
    .#{$color}-background {
        background-color: nth($color-values, $i) !important;
    }
    .#{$color}-border {
        border-color: nth($color-values, $i) !important;
    }
}