label {
    display: block;
    width: 100%;
    font-size: 1.25em;
	font-weight: 600;
    line-height: 1.75em;
    margin-bottom: .25em;
}

input, select, textarea {
    display: block;
    width: 100%;
    font-size: 1.125em;
    margin-bottom: .75em;
    border: .125em solid #eaeaea;
    border-radius: .625em;
    padding: .75em;

    transition: border-color 0.5s ease;

    &:focus {
        border-color: $color-primary;
    }
}

.invalid {
    border-color: #FF4136;

    transition: border-color 0.5s ease;

    &:focus {
        border-color: #FF851B;
    }
}

.validation {
    margin-top: -0.5em;
    color: #FF4136;
}

fieldset {
    margin-bottom: .625em;

    label {
        padding-right: .625em;
        display: inline-block;
        width: auto;
    }
}

.radio {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 0;
}

.checkbox {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 0;
}

.searchBar {
    .searchIcon {
        position: absolute;
        box-sizing: content-box;
        padding: 1.125em;
        width: 1.125em;
    }

    input {
        padding-left: 2.75em;
    }
}