$dark-table-border-color: #333;
$light-table-border-color: #ccc;

table {
    width: 100%;
    border: 0.0625em solid $light-table-border-color;
    border-collapse: collapse;
    margin: 1.25em 0;

    thead {
        tr {
            th {
                text-align: left;
                padding: 0.625em;
            }
        }
    }

    tbody {
        tr {
            td {
                border-right: 0.0625em solid $light-table-border-color;
                border-bottom: 0.0625em solid $light-table-border-color;
                padding: 0.625em;

                &:last-child {
                    border-right: none;
                }
            }

            &:first-child {
                td {
                    border-top: 0.125em solid $dark-table-border-color;
                }
            }

            &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }
    }
}