.center {
    margin: 0 auto;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}


.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.vertically-center-children {
    align-items: center;
}


.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.fullWidth {
    width: 100%;
}

.autoWidth {
    width: auto;
}