$base-point-grid: 8 !default;

$dark-text-color: rgb(34, 34, 44) !default;
$medium-text-color: rgb(119, 119, 129) !default;
$light-text-color: rgb(254, 254, 254) !default;

$color-primary: rgb(46, 181, 233) !default;

$color-names: 'navy' 'blue' 'aqua' 'teal' 'olive' 'green' 'lime' 'yellow' 'orange' 'red' 'maroon' 'fuchsia' 'purple' 'black' 'gray' 'silver' 'white';
$color-values: #001f3f #0074D9 #7FDBFF #39CCCC #3D9970 #2ECC40 #01FF70 #FFDC00 #FF851B #FF4136 #85144b #F012BE #B10DC9 #111111 #AAAAAA #DDDDDD #FFFFFF;