/* Variables ------------------------------ */
/*
$color-primary: #3989E3;
$max-width: 1200px;
$medium-break-point: 900px;
$small-break-point: 400px;
*/

/* Imports ------------------------------ */
@import "normalize";
@import "variables";
@import "defaults";
@import "grid";
@import "typography";
@import "utilities";
@import "forms";
@import "tables";
@import "buttons";
@import "colors";
@import "playground";